nav {
    min-height: 75px;
    font-size: 60px;
}
.navcontainer {
    background-image: URL("/Content/stockshot.jpg");
    max-width: 1200px;
    margin: 10px auto;
    padding: 25px 30px;
    border-radius: 10px;
}
.navcontainer header {
    color: #403E65;
    font-size: 25px;
    font-weight: bold;
}
.navcontainer a {
    text-decoration: none;
    color: #EEF2E3;
    text-shadow: 
    -2px -2px 0 #403E65,  
    2px -2px 0 #403E65,
    -2px  2px 0 #403E65,
    2px  2px 0 #403E65;
    
}
.navcontainer a:visited {
    text-decoration: none;
}
.navcontainer a:hover {
    color: #403E65;
    text-shadow: 
    -2px -2px 0 #EEF2E3,  
    2px -2px 0 #EEF2E3,
    -2px  2px 0 #EEF2E3,
    2px  2px 0 #EEF2E3;
}
body {
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 0px 5px #22203b;
    background-color: #403E65;
    color: #EEF2E3;
    max-width: 1200px;
    margin: 0 auto;
}
.textbox {
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    flex: 1;
}
.textbox header {
    font-size: 30px;
    font-weight: bold;
}
.container {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
footer {
    background-color: #22203b;
    min-height: 40px;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 25px;
    display:flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.newsletter {
    margin-top: 10px;
    display: flex;
    align-items: center;
    max-width: 300px;
}

.newsletter input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #2a2947;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter button:hover {
    background-color: #22203b;
}
.staff-member {
    width: 300px;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.staff-member img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.staff-member h2 {
    margin-top: 0;
    font-size: 24px;
}

.staff-member p {
    margin-bottom: 10px;
}