nav {
    background-color: #9590A8;
}
nav a {
    text-decoration: none;
}
nav a :visited {
    text-decoration: none;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: #403E65;
    color: #EEF2E3;
}